*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    padding: 10px;
    color: white;
}
.allReels{
    width: 100%;
    height: 100vh;
    overflow-y:scroll ;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* overscroll-behavior:; */
    overscroll-behavior: contain;
    
}
.allReels::-webkit-scrollbar{
    display: none;
}
.reel{
    margin: 1px auto;
    width: 350px;
    height:  100%;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-radius: 10px;
}
.reel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel .right{
    width: 55px;
    height: 40%;
    position: absolute;
    right: 10px;
    bottom: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    text-align: center;
    font-size: 1.5rem;
}
.reel .right i{
    font-size: 2.1rem;
}
.reel .right h4,
.reel .right h6{
    font-weight: 400;
    pointer-events:none;
    /* color: green; */
}
/* .reel .right .like{
    background-color: red;
} */
.reel .right .like h4{
    color: red;
}
.reel .right h4{
    font-size: 1.7rem;
    font-weight: 500;
}
.reel .bottom{
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0 10px;
}
.reel .bottom .top{
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 30px;
}
.reel .bottom .top span{
    width: 40px;
    height: 40px;
    display: inline-block;

}.reel .bottom .top span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.reel .bottom .top button{
    padding: 2px 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.reel .bottom .bottom h5{
    font-weight: 500;
    font-size: 1rem;
    width: 80%;
    margin-left: 40px;
}
@media(max-width:350px){
    .reel{
        width: 80%;
        padding: 20px 0;
    }
    .reel .right{
        bottom: 15%;
    }
}
