*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    background-image: url('https://plus.unsplash.com/premium_photo-1682656220562-32fde8256295?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}
:root{
    --x:200px;
    --y:10px
}
.box{
    width: 100%;
    height:100%;
    background:radial-gradient(250px at var(--x) var(--y), rgba(255, 255, 255, 0)   ,black);
}