.Cards-Main {
    display: flex;
    /* background-color: black; */
    flex-direction: column;
    padding: 20px;
}

.Cards-Main .top {
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

.Cards-Main .top .horizon {
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 8px;
    border-radius: 30px;
}

.Cards-Main>.top>p {
    font-size: 1.3rem;
    width: 50%;
}

.Cards-container {
    display: flex;
    /* flex-direction: column; */
    /* column-gap: auto; */
    justify-content: space-around;

}

.Cards-container .Card {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 20px;
    border-radius: 20px;

}

.Cards-container>.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:; */
    background-color: #0D1A2D;
    color: white;
    font-size: 1.1rem;
}
.Cards-container>.top img{
    width: 50px;
    height: 50px;
    color: black;
    margin-bottom: 15px;
}

.Cards-container .middle {
    background-image: url('https://i.pinimg.com/1200x/2e/6b/f4/2e6bf4d78db461b923413cc441252980.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Cards-container>.middle p {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 30px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.Cards-container>.third{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    background-color: #F6F8FC;
    gap: 20px;
}
.Cards-container>.third .top{
    padding: 0 ;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    
}
.Cards-container>.third .top h3{
    font-size: 3rem;
    font-weight: 100;
}
.Cards-container>.third .top .thirdPara{
    font-size: 14px;
    color: gray;
}
.Cards-container>.third .bottom{
    display: flex;
    /* background: #000; */
    flex-direction: column;
}
/* Update your CSS */
.Cards-container>.third .bottom .progressBar {
    margin-bottom: 10px;
}

.Cards-container>.third .bottom .progressBar p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.Cards-container>.third .bottom .progressBar .range {
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

/* Specific colors for each progress bar */
.Cards-container>.third .bottom .progressBar .range.first {
    width: 55%;
    background-color: #5BB3FF; /* Green for 55% */
}

.Cards-container>.third .bottom .progressBar .range.second {
    width: 40%;
    background-color: #5BB3FF; /* Blue for 40% */
}

.Cards-container>.third .bottom .progressBar .range.third {
    width: 35%;
    background-color: #5BB3FF; /* Red for 35% */
}