*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    cursor: none;
    
}
#cursor{
    transform: translate(-50%,-50%);
    z-index: 999999;
    /* background: #000; */
    width: 40px;
    height: 40px;
    pointer-events: none;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
main .piano{
    background-color: #6d4b19;

}
.piano .whiteKeys{
    width: max-content;
    display: flex;
    justify-content: center;
    position: relative;
    perspective: 1000px;
    box-shadow: -5px 0px 5px 2px gray;
    
}
.piano .whiteKeys .white-key{
    padding: 20px;
    width: 30px;
    height: 200px;
    background-color:rgb(223, 223, 223);
    border: 1px solid gray;
    display: flex;
    align-items: flex-end;
}
.whiteKeys .blackKeys .black-key{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100px;
    width: 30px;
    border: 1px solid gray;
    padding: 5px;
    transition: all .1s ease;
    box-shadow: 2px 2px 5px  black;
    z-index: 5;
}
.blackKeys {
    position: absolute;
    display: flex;
    border: none;
    padding: 0;
    width: 80%;
    justify-content: center;
    gap: 10px;
    perspective: 1200px;
    z-index: 10;


}
.blackKeys .hey{
    margin-right: 10px;
}
.blackKeys .heylast{
    margin-left: 10px;
}
.blackKeys .black-key:active{
   transform: rotateX(-10deg);
  transform-origin: top;
}
.whiteKeys .white-key:active{
   transform: rotateX(-10deg);
   transform: translateY(-5px);
   transform-origin: top;
   z-index: 0;
}

