*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  padding: 0 30px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #FFFFFF; */
}