.main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.main .second{
    display: flex;
    /* background-color: black; */
}
.main .second button{
    border: none;
    margin-left: 10px;
    font-size: 1.2rem;
    padding: 5px;
    background-color: transparent;
}
.main .third button{
    padding: 10px 15px;
    background-color: #0D1A2D;
    border-radius: 15px;
    color: white;
    border: none;
    font-size: 1.2rem;

}