*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* gap: 20px; */
    background-image: url(./bgImage.jpg);
    background-size:cover;
}
.cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 330px;
    height: 330px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 10px;
    margin-top: 50px;
    margin-left: 10px;
}
.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(#fffefe0a,#000000 );
    transition: all ease .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card:hover .bottom{
   transform: translateY(-100%);
}
