*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@property --bgColor{
    syntax: "<color>";
    initial-value: green;
    inherits: false;
}
.parent{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    position: relative;
    margin: 20px;
    padding: 20px;
    max-width: 300px; 
    height: 450px;
    background: 
    linear-gradient(to top left, rgb(10, 10, 10),black) padding-box,
    conic-gradient(from var(--rotate),black, black,rgb(231, 9, 183),black) border-box
    ;
    border-radius: 15px;
    animation: borderAnimate infinite 2s ease-in;
    display:flex;
    justify-content: start ;
    align-items: center;
    flex-direction: column;
    transition: all .5s ease-in;
    text-align: start;
    /* position: relative; */
}
.box img{
    width: 100;
    height: 100%;
    object-fit: cover;
}
.box h2{
    position: absolute;
    bottom: 60px;
    /* color: rgb(209, 39, 243); */
    color: white;
    /* mix-blend-mode: difference; */
    /* bottom: 20px; */
    /* text-align: start; */
    left: 30px;
    /* margin-top: 20px; */
    /* mix-blend-mode: difference; */

}
.box p{
    position: absolute;
    bottom: 20px;
    color: white;
}
@keyframes bgAnimation{
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.box:hover{
    border: 6px solid transparent;
    box-shadow: 0 0 50px  rgb(231, 9, 183);
}
.box:hover h2{
    text-shadow:5px 5px 10px  rgb(231, 9, 183) ;
}