*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
@property --bgColor{
    syntax: "<color>";
    initial-value: green;
    inherits: false;
}
.parent{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    justify-content: center ;
    align-items: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box{
    position: relative;
    border: 6px solid transparent;
    margin: 20px;
    padding: 20px;
    max-width: 300px; 
    height: 400px;
    box-shadow: 0 0 50px  rgb(231, 9, 183);
    background: 
    linear-gradient(to top left, rgb(10, 10, 10),black) padding-box,
    conic-gradient(from var(--rotate),black, black,rgb(231, 9, 183),black) border-box
    ;
    border-radius: 15px;
    animation: borderAnimate infinite 2s ease-in;
}
.box img{
    width: 100;
    height: 100%;
    object-fit: cover;
}
.box h2{
    position: absolute;
    color: rgba(255, 255, 255, 0.514);
    top: 20px;

}
@keyframes bgAnimation{
    from{
       transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}