*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;


}
.parent .object{
    width: 300px;
    height: 400px;
    background-color: rgba(128, 128, 128, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.object h2{
    color: rgb(163, 18, 42);
}
.parent .object img{
    border-radius: 50%;
    width: 80%;
    height: 60%;
    object-fit: cover;
}
