*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: white;
}
.allReels{
    width: 100%;
    height: 100vh;
    overflow-y:scroll ;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* overscroll-behavior:; */
    overscroll-behavior: contain;
    
}
.allReels::-webkit-scrollbar{
    display: none;
}
.reel{
    margin: 1px auto;
    width: 350px;
    height:  100%;
    /* background-color: #70ece6; */
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    border-radius: 10px;
}
.reel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel .right{
    width: 55px;
    height: 40%;
    /* background-color: #ffffffab; */
    position: absolute;
    right: 10px;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.reel .right .like h4{
    color: red;
}
.reel .right h4{
    font-size: 1.7rem;
    font-weight: 500;
}
.reel .bottom{
    width: 100%;
    /* background-color: #ffffffa2; */
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
}
.reel .bottom .top{
    width: 80%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 60px;
}
.reel .bottom .top span{
    width: 40px;
    height: 40px;
    display: inline-block;

}.reel .bottom .top span img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.reel .bottom .top button{
    padding: 2px 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.reel .bottom .bottom h5{
    font-weight: 500;
    font-size: 1.2rem;
    width: 80%;
}
@media(max-width:350px){
    .reel{
        width: 80%;
        /* height: 100%; */
        padding: 20px 0;
    }
}
