:root{
    --pri:#F8F4E1;
    --sec:#381c0a;
    --tri1:#feba17;
    --tri2:#74512d;

}
@font-face {
    font-family: Aonic;
    src: url('./aonic-font/Aonic-Medium.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Aonic; */
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem{
    background-color: var(--tri1);
    height: 400px;
    width: 330px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    color: var(--pri);
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 33px;
    right: 5%;
}
.elem:active{
    scale: .97;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color:var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    inset: 0;
}
.back{
    padding: 10px 15px;
    color: var(--pri);
    background-color: red;
    border-radius: 10px;
    transition: all ease .3s;
    position: absolute;
    inset: 20px 20px auto auto;
    border: none;
}
.fullpage-btn:active{
    scale: .9;
}
.todo-list-fullpage{
    background-color: var(--sec);
    display: block;
}
.todo-list-fullpage .todo-container{
    display: flex;
    justify-content: space-between;
   width: 100%;
   height: 80%;
   margin-top: 30px;
}
.todo-list-fullpage .todo-container .addTask{
    border-radius: 10px;
    width: 33%;
    background-color:var(--tri2);
}
.todo-list-fullpage .todo-container .allTask{
    padding: 20px;
    border-radius: 10px;
    width: 65%;
    background-color:var(--tri2);
    overflow:auto;
}
.todo-list-fullpage .todo-container .allTask .task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background-color: var(--pri);
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.todo-list-fullpage .todo-container .allTask .task button{
    background-color: green;
    color: var(--pri);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    transition: all ease .2s;
}
.todo-list-fullpage .todo-container .allTask .task button:active{
    scale: .96;
}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-list-fullpage .todo-container .addTask form input#task-input{
    padding: 8px 15px;
    width: 100%;
    font-size: 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--sec);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container .addTask form textarea{
    padding: 8px 15px;
    width: 100%;
    font-size: 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--sec);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}


.todo-list-fullpage .todo-container .addTask form button{
    padding: 8px 15px;
    width: 100%;
    font-size: 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tri1);
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: red;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}
.mark-imp input{
    width: 15px;
    height: 15px;
    margin:0 5px;
}
.allTask h5 span{
    background-color: red;
    color: var(--pri);
    position: absolute;
    top: 11px;
    margin-left: 3px;
    padding: 3px 5px ;
    border-radius: 50px;
    font-size: 10px;
}
.allTask h5 span.true{
    opacity: 1;
}
.allTask h5 span.false{
    opacity: 0;
}