@font-face {
  font-family: Sathoshi;
  src: url(./fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}
@font-face {
  font-family: chillix;
  src: url(./fonts/Chillax_Complete/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
}

@media (min-width: 900px) {
  * {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  body main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  body main #one {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main #one .top1 {
    background-image: url(./img/first.webp);
    background-repeat: no-repeat;
    aspect-ratio: 1;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    flex: 1 1 50%;
    border-radius: 10px;
  }
  body main #one .bottom1 {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 50%;
    padding: 2.5rem;
    background-color: #1e1e1e;
  }
  body main #one .bottom1 .sub-top {
    font-family: Sathoshi;
    flex: 1 1 10%;
  }
  body main #one .bottom1 .sub-top p {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: white;
  }
  body main #one .bottom1 .sub-bottom {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body main #one .bottom1 .sub-bottom h1 {
    color: white;
    font-family: chillix;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
  }
  body main #one .bottom1 .sub-bottom p {
    font-family: Sathoshi;
    font-size: 1.2rem;
    color: gray;
  }
  body main #one .bottom1 .sub-bottom .button {
    padding: 10px;
    font-family: Sathoshi;
  }
  body main #one .bottom1 .sub-bottom .button button {
    border: none;
    background-color: transparent;
    color: white;
    font-family: Sathoshi;
  }
  body main #one .bottom1 .sub-bottom .button i {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    color: white;
    -webkit-backdrop-filter: blur(4.8px);
  }
  body main #two {
    flex: 1 1 100%;
    display: flex;
    width: 100%;
    height: 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }
  body main #two p {
    color: gray;
    font-family: sathoshi;
  }
  body main #two h1 {
    color: white;
    font-family: chillix;
    font-weight: 500;
    font-size: 3rem;
  }
  body main #two .sub-one {
    display: flex;
    background-color: transparent;
    padding: 2rem;
    justify-content: space-around;
    flex: 1 1 50%;
  }
  body main #two .sub-two {
    color: white;
    flex: 1 1 50%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  body main #two .sub-two p {
    color: gray;
  }
  body main #two .sub-two h1 {
    color: white;
  }
  body main #three {
    flex: 2;
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main #three .top2 {
    background-color: rgb(116, 67, 75);
    width: 100%;
  }
  body main #three .bottom2 {
    width: 100%;
    background-color: rgb(119, 119, 70);
  }
  body main #four {
    flex: 2;
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main #four .top3 {
    background-color: pink;
    width: 100%;
    min-height: 100%;
  }
  body main #four .bottom3 {
    width: 100%;
    background-color: yellow;
  }
  body main #five {
    flex: 2;
    background-color: rgba(0, 255, 179, 0.76);
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main #five .top4 {
    background-color: pink;
    width: 100%;
    min-height: 100%;
  }
  body main #five .bottom4 {
    width: 100%;
    background-color: yellow;
  }
  body main #six {
    flex: 2;
    background-color: yellow;
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body main #six .top5 {
    background-color: pink;
    width: 100%;
    min-height: 100%;
  }
  body main #six .bottom5 {
    width: 90%;
    background-color: rgb(115, 255, 0);
  }
  body main #seven {
    flex: 1;
    background-color: rgb(0, 162, 255);
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  body footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "one two" "one three";
    gap: 10px;
  }
  body footer .one {
    grid-area: one;
    background-color: green;
    border: 2px solid pink;
  }
  body footer .two {
    border: 2px solid pink;
    grid-area: two;
    background-color: blue;
  }
  body footer .three {
    border: 2px solid pink;
    grid-area: three;
    background-color: rgba(255, 255, 255, 0.9921568627);
  }
}/*# sourceMappingURL=style.css.map */