* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
    background-color: #121212;
    color: white;

    .img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text {
        width: 100%;
        background-color: #1E1E1E;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        flex-direction: column;

        p {
            margin: 25px 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            // letter-spacing: .1rem;
        }

        button {
            width: 10rem;
            // height: 5%;
            padding: .8rem 1rem;
        }
        .three{
            width: 100%;
            height: 100%;
            // background-color: white !important;
            .bottom{
                p{
                    // margin: -50px !important;
                    line-height: 64px;
                }
            }
            .paragraphs>p{
                margin-bottom: 50px;
            }
        }
    }

    .two {
        width: 100%;
        // height: 100%;
        // background-color: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .box {
            width: 40%;
            font-weight: 500;
            height: 150px;
            background-color: #dbd9d900;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 1.2rem;

        }
    }

}

@media(min-width : 900px) {
   main{
     .one {
        display: flex;

        .text {
            display: flex;
            // position: relative;
            justify-content: space-between;
            // padding: 2rem;

        }

        .img {
            height: 100vh;
            // padding: .3rem;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
        }

        .text:first-child {
            position: absolute;
            top: 10px;
            font-size: 30px;
            background-color: #fff;
        }
        
    }
    .two{
        flex-wrap: nowrap;
    }
   }

}