.Main{
    width: 100%;
    min-height: 500px;
    /* background-image: url('https://images.unsplash.com/flagged/photo-1576972405668-2d020a01cbfa?q=80&w=874&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* color: white; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Main img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    /* object-position:   ; */
    object-fit: cover;

}
.Main .overlay{
   width: 100%;
   height: 100%;
   position: absolute;
   background: #0000001a;
   inset: 0;

}
.Main .center{
    /* align-self: flex-end; */
    /* justify-self: end; */
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    /* background-color: black; */
}
.Main .center .blue{
    background-color: #0D1A2D;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-weight: 100;
}
.Main h1,button,p{
    z-index: 9999;

}
.Main .bottom{
    align-self:flex-end;
    /* height: 40%; */
    /* background-color: #fff; */
    /* margin-top: auto; */
    justify-self:end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    color: white;
    
    
}
.bottom .right button{
    border: none;
    margin-left: 10px;
    background-color: transparent;
    color: white;

}